.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.header-container {
  height: 67px;
  width: 100%;
  display: flex;
}

.content-container {
  width: 100%;
  height: calc(100vh - 67px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
  overflow: scroll;
}
